@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
/*Home Styling*/
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    font-family: 'Ubuntu',sans-serif;
    background-color: rgba(23, 23, 23, 0.75);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 35px;
    font-weight: 600px;
    color: #ffff;
}
.navbar .menu li{
    display: inline-block;
    list-style: none;
}
.navbar .menu li a{
    color: #ffff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
.home{
    display: flex;
    background-color: #1f1f1f;
    color: #ffff;
    height: 100vh;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
}

.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content img{
    width: 70%;
    object-fit: cover;
    margin-left: 100px;
    margin-right: 60px;
    display: block;
    border-radius: 8px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.home .home-content .left{
    width: 55%;
}
.home .home-content .right{
    width: 45%;
}
/*About Styling*/
section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 60px;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
    align-items: center;
}
.about .title::after{
    content: "who am i";
    position: absolute;
    bottom: -10px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background: #ffff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}